body{ 
    margin: 0;
    padding: 0;  
    width: 100%;                                           
    background-color: #ffffff;	    
 }
#right-colomn{
   width: 60px;
   float: left;
   background-color: #00ffff;     
}
#right-colomn img{
     width:23px;
     margin-left:100px;
     margin-top:50px;
}
img#logo{
    position:fixed;
    width:150px;
    botton:20px;
    right:10px
}
